# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment Variables
.env

# macOS
.DS_Store

node_modules/
frontend/frontend/node_modules/
venv/
__pycache__/
*.pyc
db.sqlite3
.env
dist/
.vite/